*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;
    margin:0;
}
.background{
    
    background:url(/pictures/natureback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    top:-20px;
    bottom:-20px;
    left:-20px;
    right:-20px;
    z-index:-1;
    filter: blur(20px);

}
.box{
    width: 436px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}
.head{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.para{
    text-align: center;
    margin-top: 5px;
    color: rgb(136, 133, 133);
    font-size: 0.9rem;    
}
form{
    margin-top:20px;
    margin-left:40px;
}
label{
    display: block;
    padding:5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.pass{
    margin-top: 15px;
}
input{
    width:80%;
    padding:7px;
    margin-top: 5px;
    border-radius: 4px;
}
button{
    width:80%;
    padding:8px;
    margin-top: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
    transition: 0.8s;
}
button:hover{
    background-color: white;
    color: black;
}